# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.vs/
*.suo
*.user
*.userosscache
*.slnx.sqlite
*.cache
*.db

# Build results
bin/
obj/
*.dll
*.exe
*.pdb
*.log
*.iso
*.cdb
*.asm
*.img
*.vsidx


# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
*.vsidx
/TrappistOS/TrappistOS/obj/Debug/net6.0/TrappistOS.AssemblyInfoInputs.cache
/.git/packed-refs
/.git/COMMIT_EDITMSG
/.git/config
/.git/description
/.git/FETCH_HEAD
/.git/HEAD
/.git/index
/.git/ms-persist.xml
/.git/ORIG_HEAD
/.git/packed-refs
/.git/config
/.vs/VSWorkspaceState.json
/.vs/TrappistKernel/v17/.wsuo
/.vs/TrappistKernel/v17/DocumentLayout.json
/.git/refs/stash
/TrappistOS/TrappistOS/obj/TrappistOS.csproj.nuget.dgspec.json
/TrappistOS/TrappistOS/obj/Debug/net6.0/TrappistOS.AssemblyInfoInputs.cache
/TrappistOS/TrappistOS/bin/Debug/net6.0/TrappistOS.cdb
/TrappistOS/TrappistOS/bin/Debug/net6.0/TrappistOS.iso
/TrappistOS/.vs/TrappistOS/CopilotIndices/17.14.1231.31060/CodeChunks.db-shm
/TrappistOS/.vs/TrappistOS/CopilotIndices/17.14.1231.31060/CodeChunks.db-wal
/TrappistOS/.vs/TrappistOS/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-shm
/TrappistOS/.vs/TrappistOS/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-wal
/TrappistOS/TrappistOS/obj/Debug/net6.0/TrappistOS.sourcelink.json
/TrappistOS/.gitignore
/.gitattributes
/.gitignore
/TrappistOS/TrappistOS.sln
/TrappistOS/TrappistOS/TrappistOS.sln
/.gitignore
